{% for tag in workspace.tags %}
{% if tag.mine %}
%{A1:$SCRIPTPATH/change_to_tag {{workspace.index}} {{tag.index}}:}
%{F#1e1e2e}%{B#eba0ac}   {{tag.name}}   %{B-}%{F-}
%{A}
{% elsif tag.visible  %}
%{A1:$SCRIPTPATH/change_to_tag {{workspace.index}} {{tag.index}}:}
%{F#eba0ac}%{B#1e1e2e}  {{tag.name}}  %{B-}%{F-}
%{A}
{% elsif tag.busy %}
%{A1:$SCRIPTPATH/change_to_tag {{workspace.index}} {{tag.index}}:}
%{F#eba0ac}  {{tag.name}}  %{F-}
%{A}
{% endif %}
{% endfor %}
